body {
    font-family: Arial, sans-serif;
    background-color: #2980b9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #fff;
    text-align: center;
}

form {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #2980b9, #2ecc71);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background: linear-gradient(135deg, #2ecc71, #2980b9);
}

p, ul {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 20px;
    color: #333;
}

.result-text {
    color: #fff; /* Changed text color to white */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffffff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

li:hover {
    background-color: #ecf0f1;
    transition: background-color 0.3s;
}

.back-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 12px;
    text-align: center;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #c0392b;
}
