<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="dashboard">
        <header>
            <nav>
                <ul>
                    <li><a href="/">PortoKu</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/user_account">User Account</a></li>
                </ul>
            </nav>
        </header>
        <h1>👋 Hi {{.Username}}, Welcome Back</h1>
        {{if .WiseWord}}
        <p>{{.WiseWord}}</p>
        {{end}}
        <div class="dashboard-content">
            <div class="stats">
                <div class="stat-box">Today's Return: $39.345</div>
                <div class="stat-box">Total Return: $42.345</div>
                <div class="stat-box">Revenue Return: $52.345</div>
            </div>
            <div class="search-market">
                <h2>Search Market</h2>
                <form action="/quote" method="get">
                    <label for="symbol">Stock Symbol:</label>
                    <input type="text" id="symbol" name="symbol" required>
                    <br>
                    <label for="choice">Choose an option:</label>
                    <select id="choice" name="choice" required>
                        <option value="1">Symbol Viewer</option>
                        <option value="2">AI Features of Fibonacci levels</option>
                    </select>
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="market-overview">
                <h2>Market Overview</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Price</th>
                            <th>Volume</th>
                            <th>Market Cap</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .FavoriteSymbols}}
                        <tr>
                            <td>{{.ShortName}}</td>
                            <td>${{printf "%.2f" .CurrentPrice}}</td>
                            <td>{{.Volume}}</td>
                            <td>{{.MarketCap}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/static/scripts.js"></script>
</body>
</html>
