<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fibonacci Levels</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="dashboard">
        <header>
            <nav>
                <ul>
                    <li><a href="/">PortoKu</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                </ul>
            </nav>
        </header>
        <div class="dashboard-content">
            <div class="result-section">
                <h2>Results for {{.Symbol}}</h2>
                <div class="chart">{{.ChartHTML}}</div>
                <div class="result-details">
                    <p>Current Price: ${{.CurrentPrice}}</p>
                </div>
                <div class="fibonacci-levels">
                    <h3>Fibonacci Levels</h3>
                    <ul>
                        {{range .FibonacciLevels}}
                        <li>{{.Level}}: ${{.Value}}</li>
                        {{end}}
                    </ul>
                </div>
                <div class="trade-ideas">
                    <h3>Trade Ideas</h3>
                    <ul>
                        {{range .TradeIdeas}}
                        <li>Index: {{.Index}}, Take Profit: ${{.TakeProfit}}, Pips: ${{.Pips}}, Risk/Reward Ratio: {{.RiskRewardRatio}}</li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/scripts.js"></script>
</body>
</html>
