<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="dashboard">
        <header>
            <nav>
                <ul>
                    <li><a href="/">PortoKu</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                </ul>
            </nav>
        </header>
        <div class="dashboard-content">
            <h2>Your Portfolio</h2>
            <table>
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Total Lot</th>
                        <th>Average Price</th>
                        <th>Total Invested</th>
                        <th>Current Price</th>
                        <th>PnL</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .}}
                    <tr>
                        <td>{{.Symbol}}</td>
                        <td>{{.Lot}}</td>
                        <td>${{.AveragePrice}}</td>
                        <td>${{.TotalInvested}}</td>
                        <td>${{.CurrentPrice}}</td>
                        <td>${{.PnL}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
            <a href="/add_symbol" class="auth-button">Add New Symbol</a>
        </div>
    </div>
    <script src="/static/scripts.js"></script>
</body>
</html>
